html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
}

.fondo {
    background-color: rgba(0, 0, 0, 0);
}

.viajes {
    width: 7%;
}

.imagenes {
    display: flex;
}

.imagenes img {
    object-fit: cover;
    height: 200px;
    width: 100%;
}